<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="Plantillas/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header th:replace="Plantillas/plantilla :: header"></header>

        <form th:action="@{/proveedores/registrar}" method="post" th:object="${proveedor}">

            <div class="container">
                <div class="mx-auto mt-5">
                    <div class="card">
                        <div class="card-header text-white text-center" style="background-color: #2b7a78">
                            <h3 class="mt-2">Registro de proveedor</h3>
                        </div>
                        <div class="card-body" style="background-color: #def2f1">
                            <div class="form-group">
                                <label for="nombre" class="font-weight-bold" style="color: #17252a">
                                    Nombre
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="nombre1"><i class="fas fa-user-tag"></i></span>
                                    </div>
                                    <input type="text" name="nombre" class="form-control" aria-label="Username" aria-describedby="nombre1" placeholder="Nombre" th:field="*{nombre}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="font-italic ml-3 " style="color: #900c3f">Error Nombre</span>
                            </div> 
                            <div class="form-group">
                                <label for="empresa" class="font-weight-bold" style="color: #17252a">
                                    Empresa
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="empresa1"><i class="fas fa-industry"></i></span>
                                    </div>
                                    <input type="text" name="empresa" class="form-control" aria-label="Empresa" aria-describedby="empresa1" id="empresa" placeholder="nombre empresa" th:field="*{empresa}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}" class="font-italic ml-3 " style="color: #900c3f" >Error Nombre</span>
                            </div>
                            <div class="form-group">
                                <label for="empresa" class="font-weight-bold" style="color: #17252a">
                                    Telefono
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="telefono1"><i class="fas fa-mobile-alt"></i></span>
                                    </div>
                                    <input type="text" name="telefono" class="form-control" aria-label="Telefono" aria-describedby="telefono1" id="telefono" placeholder="12345678" th:field="*{telefono}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="font-italic ml-3 " style="color: #900c3f" >Error Nombre</span>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <button type="submit" class="btn btn-outline-success btn-block">Registrar</button>
                            <a class="btn btn-outline-danger mt-2 btn-block" th:href="@{/}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
