<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/Plantillas/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <header th:replace="/Plantillas/plantilla :: header"></header>
        
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">

                <div class="col ">
                    <div class="ml-5 mt-5 text-center">


                        <i class="fas fa-box-open mx-auto" style="font-size: 20rem"></i>
                    </div>
                </div>
                <div class="col">
                    <div class="mt-5 pt-5">
                        <div class="text-center">
                            <h1 style="color: #17252A" class="display-2 font-weight-bold">OPSSS!</h1>
                            <h2 style="color: #17252A">Este paquete no esta disponible</h2>
                            <h5 style="color: #2b7a78">La pagina a la que intentas acceder
                                <br/>
                            no se ha encontrado</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div >
            <footer th:replace="/Plantillas/plantilla ::footer"></footer>
        </div>
    </body>
</html>