body {
    background-color: #f5f5f5;
}

h1 {
    font-size: 10rem;
}
.icono-usuario {
    width: 50px;
    height: 40px;
}

.icono-refresh {
    width: 32px;
    height: 32px;
    color: #333333;
    margin-bottom: 20px;
}
.contenedor-envios{
    background-color: rgba(58,175,169, .57);
    border-radius: 41px;
    padding: 20px;
}

.estados svg {
    width: 90px;
    height: 90px;
}

.barra {
    margin: 10px 50px;

}

.cuenta{
    background-color: rgba(43, 122, 120, .8);
    border-radius: 25px;
    color: #feffff;
    text-align: center;
    padding-top: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.estados div {
    text-align: center;
}

.espacio {
    height: 150px;
}