/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2020, 10:14:00 AM
    Author     : marcos
*/

.aps-bg-1{
    background-color: #17252A;
}
.aps-bg-2{
    background-color: #2b7a78;
}
.aps-bg-3{
    background-color: #3aafa9;
}
.aps-bg-4{
    background-color: #def2f1;
}
.aps-bg-5{
    background-color: #feffff;
}
.aps-bg-6{
 background-color: #f5f5f5;
}
.aps-color-1{
   color: #17252A;
}
.aps-color-2{
    color: #2b7a78;
}
.aps-color-3{
    color: #3aafa9;
}
.aps-color-4{
    color: #def2f1;
}
.aps-color-5{
    color: #feffff;
}
.aps-color-6{
    color: #f5f5f5;
}
/* CSS PARA TABLAS DE COMPRA Y VENTA */
.ht1 .th1 {
    
    border: 5px solid #2b7a78;
    ;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;

}

.tabla1 tr:nth-child(even) {
    background-color: #DEF2F1;
}
.tabla1 tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.mm{
    color:#2b7a78;
}
.tabla2 tr:nth-child(even) {
    background-color: #DEF2F1;
}
.ht2 .th2 {

    border: 3px solid #2b7a78;
    background-color: #2b7a78;
    border-style: solid;
}
.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}