.contenedor{
    background-color: #F5F5F5;
    min-height: 100%;
}

body{
    height: 100%;
    margin:0;
    padding:0;    
}

.contenedor-producto {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #FAFAFA;
    border: 4px solid #DEF2F1;
    border-radius: 10px;
    width: 320px;
    height: 450px;
    float:left;
    position: relative;
    cursor: pointer;
  }
  
  p{
      opacity: 0;
  }
  
  .contenedor-producto:hover{
      border: 4px solid #d5eae9;
  }
  
  .add-cart{
      position: absolute;
      bottom: 5%;
      left: 45%;
  }
  
  .producto-vista{
      background-color: #FAFAFA;
      border: 4px solid #DEF2F1;
      border-radius: 10px;
      width: 50%;
      height: 450px;
      margin-left: 24px;
      margin-right: 10px;
      margin-top: 24px;
      margin-bottom: 10px;
      padding: 20px 20px;
      position: relative;
  }
  
  .producto-caracteristicas {
    background-color: #FAFAFA;
    border: 4px solid #DEF2F1;
    border-radius: 10px;
    width: 45%;
    height: 450px;
    margin-top: 24px;
    padding: 20px 20px;
    position: relative;
  }

  .titulo {
    color: #17252A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 44px;
    width: 462px;
    text-align: left;
    margin-left: 10px;
  }

.nombre {
    color: #17252A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    line-height: 5px;
    text-align: left;
    margin-left: 20px; 
    position: absolute;
    top: 70%;
  }

  .precio {
    color: #17252A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    line-height: 5px;
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 78%;
  }
  
  .proveedor{
    color: #17252A;    
    opacity: 0.7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    line-height: 5px;
    text-align: left;
    margin-left: 20px;
    position: absolute;
    top: 85%;
  }

  .valoracion {
    opacity: 0.29;
    width: 40px;
    height: 36px;
  }

  .valoraciones{
      position: absolute;
      top:55%;
      left: 25%;
  }  

  .img{
      margin-top: 15px;
      margin-left: 30%;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
  }

  .textarea-inicial {
    background-color: #DEF2F1;
  border: 4px solid #DEF2F1;
  border-radius: 10px;
  opacity: 0.3;
  width: 99%;
  height: 198px;
  font-size: 18px;
  }
  
  .textarea-inicial::placeholder, .textarea-secundarios::placeholder{
      color: #17252A;
      font-family: Roboto Condensed;
      font-size: 18px;
      line-height: 33px;
      text-align: left;
      font-weight: bolder;
  }
  
  .textarea-secundarios{
      background-color: #DEF2F1;
  border: 4px solid #DEF2F1;
  border-radius: 10px;
  opacity: 0.7;
  width: 99%;
  height: 198px;
  margin: 5px 5px;
  font-size: 18px;
  }

  .titulo-p{
    color: #17252A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 5px;
    text-align: left;
    margin-left: 30px;
    margin-top: 24px;
  }
  
  .valoraciones-p{
      position: absolute;
      bottom:40%;
      left: 40%;
  }  
  
  .nombre-p{
    color: #17252A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 5px;
    text-align: left;
    margin-left: 30px;
    position: absolute;
    bottom: 29%;
    rigth: 0px;
  }
  
  .precio-p{
    color: #17252A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    line-height: 5px;
    text-align: left;
    margin-left: 30px;
    position: absolute;
    bottom: 22%;
    rigth: 0px;
  }

  .proveedor-p{
    color: #17252A;    
    opacity: 0.7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    line-height: 5px;
    text-align: left;
    margin-left: 30px;
    position: absolute;    
    bottom: 16%;
    rigth: 0px;
  }
   
   .unidades {
    color: #2B7A78;
    font-family: Roboto Condensed;
    font-size: 20px;
    line-height: 5px;
    text-align: left;
    margin-left: 30px;
    position: absolute;
    bottom: 10%;
    rigth: 0px;
  }
  
 ul {
  color: #17252A;
  font-family: Roboto Condensed;
  font-size: 18px;
  line-height: 36px;
  width: 462px;
  text-align: left;
  margin-top: 20px;
}

.compra{
    margin-left: 60%;
    margin-top: 54%;
    padding-right: 5px;
}

.comentarios {
  background-color: #FAFAFA;
  border: 4px solid #DEF2F1;
  border-radius: 5px;
  width: 96%;
  height: 90%;
  margin-left: 24px;
  margin-bottom: 10px;
  padding: 20px;
}

button{
    font-family: Roboto Condensed;
}
