<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="Plantillas/plantilla :: head">

</head>

<body>
    <header th:replace="Plantillas/plantilla :: header">
    </header>
    <div class="conteiner">
        <section>
            <br><br>
            <h1 class="aps-color-1">¿ Esta seguro que desea confirmar la compra?</h1>
        </section>

    </div><br>
    <div class="conteiner">
        <section>
            <br><br>
            <a type="submit" class="btn btn-outline-success" href="compraRealizada"
            style="position: absolute; left: 10%;">Confirmar</a>
            <a type="button" style="position: absolute; left: 20%;"
            class="btn btn-outline-danger">Cancelar</a>
        </section>
    </div><br><br><br>
    <footer th:replace="Plantillas/plantilla :: footer"></footer>
</body>

</html>