<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="Plantillas/plantilla :: head">
    <script src="https://kit.fontawesome.com/d69832d361.js" crossorigin="anonymous"></script>


</head>

<body>
    <header th:replace="Plantillas/plantilla :: header">
    </header>
    <div class="conteiner">
        <section>
            <h1 class="aps-color-1">Pago de compra</h1>
        </section>
    </div><br>
    <div class="conteiner">
        <section>
            <ul class="nav nav-pills aps-bg-2" id="lista">
                <li class="nav-item">
                    <a class=" nav-link  aps-color-5" href="index">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aps-color-5" href="carrito">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aps-color-5 active" style="background-color: #53aca9;" href="#">Pago</a>
                </li>
            </ul>
        </section>
    </div><br>
    <div class="container">
        <section>
            <h3 class="aps-color-1" style="text-align: center;">
                Pago de compra
            </h3>
        </section>
    </div><br><br>
    <div class="container-fluid clearfix" style="padding-left: 200px ;">

        <div class=" box">
            <table class="table table-striped tabla2">
                <thead class="ht2">
                    <tr class="th2 aps-color-5">
                        <th scope="col">Producto</th>
                        <th scope="col"> </th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td><i class="fas fa-minus-circle"></i></td>
                        <td> Otsssssto</td>

                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td><i class="fas fa-minus-circle"></i></td>
                        <td> Otsssssto</td>

                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td><i class="fas fa-minus-circle"></i></td>
                        <td> Otsssssto</td>

                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td><i class="fas fa-minus-circle"></i></td>
                        <td> Otsssssto</td>

                    </tr>
                    <td>@twitter</td>
                    <td><i class="fas fa-minus-circle"></i></td>
                    <td>@mdo</td>
                    </tr>
                </tbody>
                <tfoot class="aps-bg-4" style="border-top-style: solid; border-color: #2b7a78; font-weight: bold;">
                    <tr>
                        <td>
                            Total
                        </td>
                        <td> </td>
                        <td>0.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class=" box" style="padding-left: 300px ; width: 600px;">
            <table class="table aps-bg-4" style="padding-right: 100px;">
                <thead class="ht2 aps-color-5">
                    <tr class="th2">
                        <th scope="col">Su informacion</th>
                    </tr>
                </thead>
            </table>
            <div>
                <form class="aps-bg-4" style="padding:10px;" action="#" th:action="@{/Compras/pago}" th:object="${venta}" method="post">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="mastercard" value="1" th:field="*{formaPago}">
                        <label class="form-check-label" for="mastercard">
                            <i class="fab fa-cc-mastercard"></i></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="visa" value="2" th:field="*{formaPago}">
                        <label class="form-check-label" for="visa">
                            <i class="fab fa-cc-visa"></i></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="paypal" value="3" th:field="*{formaPago}">
                        <label class="form-check-label" for="paypal">
                            <i class="fab fa-cc-paypal"></i></label>
                    </div>
                    <div class="form-group">
                        <label for="tarjeta">No tarjeta</label>
                        <input type="text" class="form-control" id="tarjeta" placeholder="no">
                    </div>
                    <div class="form-group">
                        <label for="mmaa">MM/AA</label>
                        <input type="password" class="form-control" id="mmaa" placeholder="MM/AA">
                    </div>
                    <div class="form-group">
                        <label for="csc">CSC</label>
                        <input type="password" class="form-control" id="csc" placeholder="csc">
                    </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone
                        else.</small>
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="Plantillas/plantilla :: footer"></footer>
</body>

</html>