<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head  th:replace="Plantillas/plantilla :: head">
</head>

<body>
    <header th:replace="Plantillas/plantilla :: header">
    </header>
    <div class="conteiner">
        <section>
            <h1 class="aps-color-1">Ventas entregadas</h1>
        </section>
    </div><br>
    <div class="conteiner">
        <section>
            <ul class="nav nav-pills aps-bg-2" id="lista">
                <li class="nav-item">
                    <a class=" nav-link  aps-color-5" href="index">Todas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aps-color-5" href="canceladas">Cancelados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aps-color-5 active" href="#" style="background-color: #53aca9;">Entregados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link aps-color-5" href="enespera">En espera</a>
                </li>
            </ul>
        </section>
    </div><br>
    <div class="container">
        <section>
            <h3 class="aps-color-1" style="text-align: left;">
                Todas tus ventas entregadas
            </h3>
        </section>
    </div><br><br>
    <div class="container-fluid">
        <form>
            <div class="container  ">

                <select class="custom-select aps-color-1 aps-bg-5 " id="orden">
                    <option selected>Ordenar por</option>
                    <option value="1">Mas recientes</option>
                    <option value="2">Mas antiguas</option>
                    <option value="3">Mayor-menor</option>
                    <option value="3">Menor-mayor</option>
                </select>

            </div>
        </form>
        <section class="container">
            <table class="table table-striped tabla1" id="Tabla">
                <thead class="ht1">
                    <tr>
                        <th class="th1" scope="col">ID</th>
                        <th class="th1" scope="col">Fecha</th>
                        <th class="th1" scope="col">Estado</th>
                        <th class="th1" scope="col">Repartidor</th>
                        <th class="th1" scope="col">Sub total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark                       
                        </td>
                        <td>Otsssssto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Mark</td>
                        <td>Otsssssto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Mark</td>
                        <td>Otsssssto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mark</td>
                        <td>Otsssssto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div><br><br><br>
    <footer th:replace="Plantillas/plantilla :: footer"></footer>
    <script>
        Select_row();
        function Select_row() {
            var table = document.getElementById('Tabla');
            var cells = table.getElementsByTagName('td');
        
            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    // Get the row id where the cell exists
                    var rowId = this.parentNode.rowIndex;
        
                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].style.backgroundColor = "";
                        rowsNotSelected[row].classList.remove('selected');
                    }
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    //rowSelected.style.backgroundColor = "yellow";
                    rowSelected.className += " selected";
                    var seleccionado = parseInt(rowSelected.cells[0].innerHTML);
                   // msg = 'The ID of the company is: ' + rowSelected.cells[0].innerHTML;
                    // sel el val sel row msg += '\nThe cell value is: ' + this.innerHTML;
                    //alert(typeof(seleccionado));
                    location.replace("seleccionada/?variable1="+seleccionado)
                }
            }
        
        }
        </script>
</body>

</html>