<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To chan0ge this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
       
    <head th:replace="Plantillas/plantilla :: head">
        <title>Busqueda</title>
        <link href="<c:url value="/static/css/pagos.css" />" rel="stylesheet">
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="Plantillas/plantilla :: header">
        </header>
      <div  class="container">
       
        <div  class= "contenedor-titulo">
           <h2>FORMULARIO DE DEVOLUCIÓN</h2>
        </div>
        <div  class= "contenedor-campos">
            <form action="#" th:action="@{/pagos/devolucion}" th:object="${modeloDevolucion}" method="post">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Correo Electrónico:</label>
                  <input type="email" class="form-control" id="correo" placeholder="cuenteretes@correo.com" style="background-color: #DEF2F1;" th:field="*{correo}" required/>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Número Telefóno:</label>
                    <input type="text" class="form-control" id="telefono" style="background-color: #DEF2F1;" th:field="*{telefono}" required/>
                </div>
                <label for="exampleFormControlInput1">Número de Factura:</label>
                <input type="text" class="form-control" id="no.Factura"style="background-color: #DEF2F1;" th:field="*{factura}" required/>
                
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Razón:</label >
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="background-color: #DEF2F1;" th:field="*{razon}" required></textarea >
                </div>
                
                <div class="seccion-btn">
                  <input type="submit" class="btn btn-outline-success" value="GUARDAR"/>
                  <input type="reset" class="btn btn-outline-danger" value="CANCELAR">
                </div>
            </form>
       </div>
    </div>
        <footer th:replace="Plantillas/plantilla :: footer"></footer>
    </body>
</html>
