<!DOCTYPE html>
<html>
    <head th:replace="Plantillas/plantilla :: head">
        <title>Agregar Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu&display=swap');
      </style>
    </head>
    <body>
        <div class="contenedor">
            <div class="titulo-div">
                <h1>AGREGAR PRODUCTO</h1>
            </div>
            <input type="text" value=""/>
            <input type="text" value=""/>
        </div>
    </body>
</html>
