<!DOCTYPE html>
<html>
    <head th:replace="Plantillas/plantilla :: head">
        <title>Agregar Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    </head>
    <header th:replace="Plantillas/plantilla :: header"></header>
    <body>
        <div  class="container">
       
    <div class="contenedor-titulo">
           <h2>AGREGAR PRODUCTO</h2>
        </div>
        <div class= "contenedor-campos">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nombre Producto</label>
                  <input type="text" class="form-control" id="nombre-p" placeholder="Nombre" style="background-color: #DEF2F1;">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Precio producto</label>
                    <input type="text" class="form-control" id="precio" placeholder="Precio" style="background-color: #DEF2F1;">
                </div>
                <label for="exampleFormControlInput1">Descripción</label>
                <textarea class="form-control" id="des" placeholder="Descripción de producto" style="background-color: #DEF2F1;">
                    
                </textarea>
                
                <div class="form-group">
                    <label for="exampleFormControlInput1">Unidades</label>
                    <input type="number" class="form-control" id="Fecha" placeholder="Ingrese unidades" style="background-color: #DEF2F1;" >
                </div>
                
              </form>
       </div>
       <div class="seccion-btn">
         <button type="button" class="btn btn-outline-danger">CANCELAR</button>
         <button type="button" class="btn btn-outline-success">GUARDAR</button>
       </div>
    </div>
        <footer th:replace="Plantillas/plantilla :: footer"></footer>
    </body>
</html>
