<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="Plantillas/plantilla :: head" >
        <title>Modificar Producto</title>
        <meta charset="UTF-8" />
    </head>
    <body class="body body2">
    <header th:replace="Plantillas/plantilla :: header"></header>
        <div  class="container">
            <div class="contenedor-titulo">
                <h2>MODIFICAR PRODUCTO</h2>
            </div>
            <div class= "contenedor-campos">
                <p  id="id">
                    [[${producto.id}]]
                </p>
                <form name="form" action="#" th:action="@{/Productos/producto/modificando_producto/} " th:object="${producto}" method="post">
                    <input type="hidden" th:field="*{id}" th:value="${producto.id}" />
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input name="nombre" type="text" class="form-control" id="nombre-p" placeholder="Nombre" style="background-color: #DEF2F1;" th:field="*{nombre}"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio</label>
                        <input name="precio" type="text" class="form-control" id="precio" placeholder="Precio" style="background-color: #DEF2F1; "th:field="*{precio}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Tipo</label><br>
                            <select id="tipo" class="form-control" style="background-color: #DEF2F1;" th:field="*{tipo_producto}"/>
                                <option th:value="${tipoproducto1.id}"  th:each="tipoproducto1 : ${tipoproductos}" class="form-control">[[${tipoproducto1.categoria}]]</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Proveedor</label><br>
                            <select id="proveedor" class="form-control" style="background-color: #DEF2F1;" th:field="*{proveedor}">
                                <option class="form-control" th:each='proveedor: ${proveedores}' th:value='${proveedor.id}'>[[${proveedor.nombre}]]</option>
                            </select>
                    </div>
                
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Descripción</label>
                        <textarea name="descripcion" class="form-control" id="des" placeholder="Ingrese descripción de producto" style="background-color: #DEF2F1;" th:field="*{descripcion}">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Disponibilidad</label>
                        <div class= "contenedor-tipo row justify-content-around">
                            <div class="metodo-pago form-check col-4">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="habilitado" value="1" th:field="*{disponibilidad}" th:value="true">
                                    <label class="form-check-label" for="exampleRadios1">
                                        HABILITADO
                                    </label>
                            </div>
                            <div class="metodo-pago form-check col-4">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="inhabilitado" value="2" th:field="*{disponibilidad}" th:value="false">
                                    <label class="form-check-label" for="exampleRadios2">
                                        DESHABILITADO
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Imagen</label><br>
                            <label class="nuestroinput">
                                Seleccionar imagen
                                <input type="file" id="img" accept=".jpeg, .jpg, .png"/>
                            </label>
                    </div>
                    <div class="seccion-btn">
                        <button type="button" onclick="Modificar()" class="btn btn-outline-danger boton">CANCELAR</button>
                        <input class="btn btn btn-outline-success" onclick="Alerta()" type="submit" value="GUARDAR"/>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="Plantillas/plantilla :: footer"></footer>
        <script>
            window.onload = Cargar;
            
            function Alerta(){
              window.alert("¡Producto modificado!"); 
            };
            
            function Modificar(){
                var select= parseInt(document.getElementsByTagName('p')[0].innerHTML);
                console.log(select);
                //window.location.assign("localhost:8080/Producto/producto/?variable1="+select);
                window.history.back();
            };
            
            function Cargar(){
               document.form.nombre.value = "[[${producto.nombre}]]";
               document.form.precio.value = "[[${producto.precio}]]";
               document.form.descripcion.value = "[[${producto.descripcion}]]";
               Proveedores();             
               Habilitado();
           };
            
            function Habilitado(){
                if("[[${producto.disponibilidad}]]" === "true"){
                    document.getElementById("habilitado").checked=true;
                }
                else if("[[${producto.disponibilidad}]]" === "false"){
                    document.getElementById("inhabilitado").checked=true;
                }
            };
            
            function Proveedores(){
                var combo = document.getElementById("proveedor");
                if(combo.length > 1){
                    for (var i = 0; i < combo.length; i++) {
                        if(i.toString() === "[[${producto.proveedor}]]"){
                            combo.options.item(i).selected = 'selected';
                        }
                    }
                }
                else{
                    combo.options.item(0).selected = 'selected';
                }
            };
            
            
        </script>
    </body>
</html>
