<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="Plantillas/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header th:replace="Plantillas/plantilla :: header"></header>

        <form th:action="@{/repartidor/registrar}" method="post" th:object="${repartidor}">


            <input type="hidden" name="puesto" th:field="*{puesto}" th:value="${rol}"/>
            <input type="hidden" name="saldo" th:field="*{saldo}" value="0"/>
            <div class="container">
                <div class="mx-auto mt-5">
                    <div class="card">
                        <div class="card-header text-white text-center" style="background-color: #5b3924">
                            <h3 class="mt-2">Registro de Usuario</h3>
                        </div>
                        <div class="card-header" style="background-color: #f2d2b3">
                            <h4 class="mt-2">Información Usuario</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nombre" class="font-weight-bold" style="color: #5b3924">
                                    [[#{campo.nombre}]]
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="nombre1"><i class="fas fa-user-tag"></i></span>
                                    </div>
                                    <input type="text" name="nombre" class="form-control" aria-label="Username" aria-describedby="nombre1" placeholder="Nombre" th:field="*{nombre}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="font-italic ml-3 " style="color: #900c3f">Error Nombre</span>
                            </div> 
                            <div class="form-group">
                                <label for="direccion" class="font-weight-bold" style="color: #5b3924">
                                    [[#{campo.direccion}]]
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="direccion1"><i class="fas fa-map-marked-alt"></i></span>
                                    </div>
                                    <input type="text" name="direccion" class="form-control" aria-label="Direccion" aria-describedby="direccion1" id="direccion" placeholder="calle 123" th:field="*{direccion}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="font-italic ml-3 " style="color: #900c3f" role="alert">Error Nombre</span>
                            </div>

                            <div class="form-group">
                                <label for="telefono" class="font-weight-bold" style="color: #5b3924">
                                    [[#{campo.telefono}]]
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="telefono1"><i class="fas fa-mobile-alt"></i></span>
                                    </div>
                                    <input type="text" name="telefono" class="form-control" aria-label="Telefono" aria-describedby="telefono1" id="telefono" placeholder="12345678" th:field="*{telefono}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="font-italic ml-3 " style="color: #900c3f" >Error Nombre</span>
                            </div>

                        </div>
                        <div class="card-header" style="background-color: #f2d2b3">
                            <h4 class="mt-2">Información de la Cuenta</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="correo" class="font-weight-bold" style="color: #5b3924">
                                    [[#{campo.correo}]]
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="correo1"><i class="far fa-envelope"></i></span>
                                    </div>
                                    <input type="text" name="correo" class="form-control" aria-label="Correo" aria-describedby="correo1" placeholder="mail@mail.com" th:field="*{correo}"/>
                                </div>
                                <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="font-italic ml-3 " style="color: #900c3f" >Error Nombre</span>
                            </div>
                            <div class="form-group">
                                <label for="contrasenia" class="font-weight-bold" style="color: #5b3924">
                                    [[#{campo.contrasenia}]]
                                </label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="correo1"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" name="contrasenia" class="form-control" aria-label="Password" aria-describedby="password1" th:field="*{password}" />
                                </div>
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="font-italic ml-3 " style="color: #900c3f">Error Nombre</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-success">Registrar</button>
                            <a class="btn btn-danger" th:href="@{/}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
