<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Web App</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
        <link rel="stylesheet" href="/css/estiloproyecto.css" />
        <link rel="stylesheet" href="/css/form.css"/>        
        <link rel="stylesheet" href="/css/styles.css"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu&display=swap');
      </style>
    </head>

    <body>
        <header th:fragment="header">
            <nav class=" navbar navbar-expand-lg navbar-light p-1 " style="background-color: #def2f1">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand" style="color: #17252a">
                        Cuenteretes APS
                    </a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item px-2">
                                <a th:href="@{/}" class="nav-link active" style="color: #17252a">Inicio</a>
                            </li>
                            <li class="nav-item mr-3 nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                    <span >Bienvenido</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdwonMenuLink">
                                    <form method="POST" th:action="@{/logout}">
                                        <a href="#" onclick="this.parentNode.submit();" class="dropdown-item">
                                            <i class="fas fa-user-times"></i> Salir
                                        </a>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item px-2" sec:authorize="!isAuthenticated()">
                                <a th:href="@{/login}" class="nav-link active">Iniciar Sesion</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </header>
        <footer th:fragment="footer" class="text-white mt-5 p-5 aps-bg-3">
            <div class="container">
                <div class="row mx-md-1">
                    <div class="col px-md-5">
                        <p class="text-lg-left">
                            <span class="font-weight-bold" >Sitios mas visitados</span>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" th:href="@{/}">Pagina Principal</a>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" href="#">Ventas</a>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" href="#">Compras</a>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" href="#">Productos</a>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" href="#">Administracion</a>
                        </p>
                        
                    </div>
                    <div class="col">
                        <p class="text-lg-left">
                            <span class="font-weight-bold" >Preguntas Frecuentes</span>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" th:href="@{/}">Quiero Ser Repartidor</a>
                            <br/><a class="ml-4 alert-link font-weight-light" style="color: #f5f5f5" href="#">Quiero Registrarme en la App</a>
                        </p>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
